[2017-06-24 20:12] santomegonzalo opened #1 "Images"
![screen shot 2017-06-24 at 21 56 31](https://user-images.githubusercontent.com/2914973/27511657-4d5a565e-592a-11e7-85eb-fdd8065083fc.png)
![screen shot 2017-06-24 at 21 56 38](https://user-images.githubusercontent.com/2914973/27511658-4d71ff16-592a-11e7-9f9a-627843f1a416.png)

[2017-06-24 20:13] #1 closed

[2017-06-25 14:38] santomegonzalo commented on #1
![with-text-left](https://user-images.githubusercontent.com/2914973/27517000-841d17e0-59c4-11e7-8804-1192dbc98af5.gif)
![no-text-center](https://user-images.githubusercontent.com/2914973/27517001-841df002-59c4-11e7-91e6-2a03bba66fe7.gif)
![with-text-right](https://user-images.githubusercontent.com/2914973/27517002-84316402-59c4-11e7-987c-fd3b44af84ae.gif)
![no-text](https://user-images.githubuserc

[2017-07-13 21:18] brendanmanning opened #2 "checkPropTypes"
Will be removed by React 16

My package.json dependencies
`"dependencies":` {
    "expo": "^18.0.3",
    "react": "16.0.0-alpha.12",
    "react-native": "^0.45.1",
    "react-native-floating-action": "^1.1.0",
    "react-navigation": "^1.0.0-beta.11"
  }
`

See below
![img_3225](https://user-images.githubusercontent.com/14865682/28188183-41fdace2-67ef-11e7-8c07-7ca02f777f33.PNG)
![img_3226](https:

[2017-07-15 10:35] santomegonzalo commented on #2
hi @brendanmanning this is a problem from react animations... as soon as they fixed it you will not see this warning anymore because my package is using your local react-native. I will tell you here when they release a new version.

[2017-07-15 10:44] santomegonzalo commented on #2
@brendanmanning I just upgrade my `example` app to the latest version of react **0.46.3** and the yellow box is not there anymore... So I recommend you to upgrade the version. Thanks!

[2017-07-15 10:46] #2 closed

[2017-08-16 03:58] est7 opened #3 "when i scroll down listview,how to hide this component"

[2017-08-17 08:16] santomegonzalo commented on #3
Hi @est7 I will have that feature done this week, probably tomorrow will be online... I will let you know as soon as it's available!

[2017-08-17 08:25] est7 commented on #3
@santomegonzalo thanks

[2017-08-17 15:59] santomegonzalo commented on #3
Hi @est7 I just pushed a new version where now you can set `visible: false` and that will hide the component... but now you need to connect it to the `FlatList`... I updated the example and there you can see how that works...

Here is a gif showing the functionality: https://user-images.githubusercontent.com/2914973/29421294-e74df51c-8374-11e7-96ca-62675075f8e8.gif

Here is the example: https://gi

[2017-08-25 17:16] #3 closed

[2017-10-04 18:02] gusilveiramp opened #7 "Position"
Congratulations on your work and thank you very much for making it available.
I use react-native-material-bottom-navigation and the tab is superimposed on the button. How do I position him further up? I do not want him to override Tab, but rather stay a little above it.

[2017-10-04 18:14] #7 closed

[2017-10-05 07:01] santomegonzalo commented on #7
Hello @gusilveiramp did you fixed the problem? I'm using **react-native-material-bottom-navigation** and I don't have any problem.

[2017-10-12 17:40] prashantvv opened #8 "Action button giving ripple drawable error on android API 19. KITKAT"
Hello, the floating action button is giving error in andorid  API <21. full error as follows:

Error while updating property 'nativeBackgroundAndroid' of a view managed by: RCTView

null

Ripple drawable is not available on android API <21
updateViewProp
    ViewManagersPropertyCache.java:95
setProperty
    ViewManagerPropertyUpdater.java:129
.
.
.

[2017-10-13 14:00] santomegonzalo commented on #8
Hi @prashantvv I will take a look and come back to you ASAP

[2017-10-16 09:08] santomegonzalo commented on #8
Hello @prashantvv ! I just pushed version **1.3.1** with a fix for your problem!

Thanks for reporting this issue, and I would like to know in which app you are using my component so I could add some credits on my README.

Thanks

[2017-10-16 09:10] #8 closed

[2017-10-16 14:15] prashantvv commented on #8
Hello @santomegonzalo , the app is under development, although I found the issue in android KITKAT version API 19 while testing both in emulator as well as in real device.

[2017-10-16 19:59] santomegonzalo commented on #8
Ok perfect @prashantvv . Let me know if you found another issue!

[2017-10-17 13:38] gusilveiramp opened #10 "Ripple Animation"
First, thank you so much for this awesome work.
This is the best FAB library for RN.
I compared it with a mastermoo/react-native-action-button and its works smoother, also appears more stable.

The only thing missing for it to be more similar to the native FAB of the android would be the Ripple effect on the Button. Is it possible to insert this?

[2017-10-17 15:18] #10 closed

[2017-10-18 14:28] santomegonzalo commented on #10
Hello, @gusilveiramp why you created this Issue?

[2017-10-18 14:33] gusilveiramp commented on #10
Sorry, I thought the ripple effect did not exist, but it was a mistake in my code. Everything is perfect. I would like to thank you, because this is undoubtedly the best FAB library for React Native.

[2017-10-19 09:20] santomegonzalo commented on #10
@gusilveiramp thank you! let me know if you want me to mention your app on my repo to promote it.

[2017-11-09 06:59] Harryki opened #11 "Do you have plan to support accept a component for icon?"
As i understand so far, only image files are supported for icon. do you have plan to support any component like Icon (react-native-element)?

[2017-11-11 19:34] faogustavo commented on #11
Already have :) #5

[2017-11-13 10:09] santomegonzalo commented on #11
@Harryki as you can see in the doc https://github.com/santomegonzalo/react-native-floating-action#configuration you can use wherever ReactElement that you want. Just use `floatingIcon`.

[2017-11-22 14:27] khrizt opened #12 "Overwrite position for main button"
I'd be great to be able to overwrite the bottom, for all positions, and left / right values for right and left positioning using props. Do you think it's a good idea? I can do a PR if you want.

[2017-12-02 11:12] #11 closed

[2017-12-04 15:25] santomegonzalo commented on #12
Hello @khrizt ! sorry for the delay.

That is a good idea... and in my opinion will not be hard to do it... you are more than welcome to do it, and please if you have any question just let me know.

[2017-12-05 09:03] khrizt commented on #12
Take a look at this PR https://github.com/santomegonzalo/react-native-floating-action/pull/13 I can change the implementation if you prefer another one.

[2017-12-08 19:33] santomegonzalo commented on #12
thanks @khrizt I will take a look!

[2017-12-08 19:36] santomegonzalo commented on #12
@khrizt I just merged your PR. thank you very much for the update! please if you are using this plugin on a public app let me know so I could promote it in the README.

[2017-12-11 13:46] khrizt commented on #12
Thanks man!!

I'm using it but it's not public yet. I'll get in touch when it's released.

[2017-12-12 09:57] #12 closed

[2017-12-12 11:28] khrizt commented on #12
Sorry man, I introduced a bug with the distanceToEdge parameter. The FloatingActionItem's were not aligned to the main button when the parameter was used. I've created a new pull request to fix that. https://github.com/santomegonzalo/react-native-floating-action/pull/15

[2017-12-14 00:35] arronhunt opened #16 "[Request] Single action (no menu)"
It would be great if you could use the button itself as a single action, with it's own icon. For things like "Save", etc.

[2017-12-14 22:43] santomegonzalo commented on #16
Hi, @arronhunt that feature already exists. Please try the following...

[code]

In the documentation, you could find that **overrideWithAction** works to replace the main action with the first action inside the list of actions. That will fix your case.

Please let me know if there is something else.

[2017-12-15 05:58] arronhunt commented on #16
@santomegonzalo Thanks! I was a little confused by the documentation but that works great.

[2017-12-15 07:26] santomegonzalo commented on #16
@arronhunt no problem, I will update the documentation and I will create examples on **expo** so that will help everybody.

[2017-12-15 07:26] #16 closed

[2017-12-20 21:30] santomegonzalo commented on #11
Hello @Harryki ... I created a new app on expo to show different examples of what you can do with this component... https://expo.io/@santomegonzalo/ReactNativeFloatingAction-Expo

[2018-01-03 13:57] Norfeldt opened #19 "visible prop not working in initial render - always set to `true`"
This code does not work as expected. The button is always visible in the first render.

Works as expected when updating the state and making the someArray an empty array.

         ...
          <FloatingAction
            overrideWithAction
            actions={FABactions}
            visible={this.state.someArray.length > 0}
            onPressItem={() => console.log('FAB pressed')}

[2018-01-08 16:07] santomegonzalo commented on #19
Hello @Norfeldt I will take a look today... Thanks!

[2018-01-09 10:14] santomegonzalo commented on #19
Hi @Norfeldt I just pushed a new version `1.6.0` with a fix for your bug. You were right and I had a bug in my code. **Expo** was updated with an example.

[2018-01-09 10:15] #19 closed

[2018-01-27 16:09] araujobarret opened #26 "Interest in contributing with this project"
Hello Gonzalo, how are you?

I am using this library and I have to thank you, this is an awesome library, the best that I found for React Native.

I am currently modifying it to use on my project, and I was thinking which those mods can be useful to this project.

Because of the size of lodash library, I am removing it from the lib, and I am enabling the some styles of FloatingActionItems, like wi

[2018-01-29 13:15] santomegonzalo commented on #26
Hello Araujo, thanks for your words! I really appreciate it... and of course, the idea of this package was to build just a simple and performance control... I would love to get more help with new ideas because I build this package to use it for my current projects.

I will invite you to be part of this project!

[2018-01-30 20:58] araujobarret commented on #26
Hello again @santomegonzalo

I did some modification on the component removing the dependency of lodash(I only checked null text values and created a bubble sort method for actions sort, I only saw these 2 kind of dependencies of lodash).

This is what I did:

![capture](https://user-images.githubusercontent.com/15792853/35590863-3ebcd4d8-05ef-11e8-99dc-4ba6a6e6d3ae.PNG)

What do you think? Is thi

[2018-01-31 15:12] santomegonzalo commented on #26
that is really nice... yes more flexibility always is better... but always if the documentation is clear... that was the idea behind this library... make a clear documentation with examples on Expo and then make a simple **interface**

[2018-02-09 13:15] #26 closed

[2018-03-09 16:57] stonecold123 commented on #3
@santomegonzalo
That example has been removed. I couldn't find a related example in expo. Do you use `onMomentumScrollEnd` and `onScroll` from the Flatlist to do the hiding and showing?

[2018-03-21 07:38] santomegonzalo commented on #3
hello @stonecold123 I will be adding the example soon. That example is not related to this component, that's why I decided to not include it right now

[2018-03-26 07:45] Hvkvn opened #32 "Visible Initial False dosn't work"
Is this really fixed?

          <FloatingAction
            visible={false}
            actions={actions}
            ... />
In my Case the Button is still visible.

[2018-03-26 14:25] santomegonzalo commented on #32
Hello, @Hvkvn I'm looking into it right now.

[2018-03-26 14:59] santomegonzalo commented on #32
@Hvkvn I'm looking into it and I found it's a bug on Android. iOS works perfect. I will keep looking or I will take another way to fix it.

I will keep you posted.

https://github.com/facebook/react-native/issues/6278

[2018-03-26 15:26] santomegonzalo commented on #32
@Hvkvn I just deployed a new version **1.10.1** please update to that version and everything will work

![mar-26-2018 17-24-31](https://user-images.githubusercontent.com/2914973/37915861-c3d10922-311a-11e8-8197-b2c71a6294be.gif)

Please let me know if works.
.

[2018-03-26 21:04] Hvkvn commented on #32
Thank you it works now.

[2018-03-26 21:04] #32 closed

[2018-03-27 17:36] Hvkvn opened #34 "Navigate to a new Screen onPressItem"
I want to navigate to a new Screen when a item is pressed.
Is this possible ?

[2018-03-27 20:08] msevestre opened #35 "overlay does not fill the whole screen"
You can see the behavior in your example. The header bar is not covered by the overlay. Is this on purpose?

[2018-03-28 05:00] Hvkvn commented on #34
Could you send an example which works?

[2018-03-28 08:20] santomegonzalo commented on #35
@msevestre this is a correct behavior because the overlay will be on your "scene". Using react-navigation the "scene" be between **NavigationBar** and **TabBar**. I think it's not possible to do show the overlay on top of everything.

[2018-03-28 08:21] santomegonzalo commented on #34
@Hvkvn please for this questions follow https://reactnavigation.org/docs/navigating.html#navigating-to-a-new-screen or you could take a look at my expo example to see how I navigate to the next screen.

My intention with my examples is to show how the component works and not how ReactNavigation works.

[2018-03-28 08:47] Hvkvn commented on #34
My Problem is that i want to navigate to a specific Screen dependent on which Action is clicked.
For example Somthing like this:
           <FloatingAction
            actions={actions}
            onPressItem={
              (name) => {
                if (name == 'bt_homeScreen') {
                  this.props.navigation.navigate('HomeScreen')
                } if (name == 'bt_infoScreen') {

[2018-03-28 11:29] santomegonzalo commented on #34
@Hvkvn what you are showing me its correct... that is not working?

[2018-03-28 12:14] Hvkvn commented on #34
That example is not working. Is it maybe a bug?

[2018-03-28 13:10] santomegonzalo commented on #34
@Hvkvn I need more information. I'm using this plugin on different apps and works. If you could do an example of what you are doing will be nice so I could look it deeper.

[2018-03-28 16:06] Hvkvn commented on #34
Sorry it was my mistake. The navigation path is named different than i thought.

[2018-03-28 16:06] #34 closed

[2018-03-28 20:43] msevestre commented on #35
Looking at inbox from Google, the overlay covers everything but the toolbar. That would be what I would expect here as well.

What about using width and height of screen? I could give it a try if you agree that this could be a good feature.

[2018-03-29 04:53] magga opened #36 "Change FloatingAction's Size"
Hello, can i change the FloatingAction button's size? I tried to change the "floatingIcon" props, but it only changed the icon, not the size

[2018-03-29 07:04] santomegonzalo commented on #36
hello @magga , I will add that to my list. Is not hard to implement so I could start to work on that tomorrow.

[2018-03-29 07:06] santomegonzalo commented on #35
of course, you are more than welcome to try. But still, I think will not work because of how react-native works.
Let me know.

[2018-03-29 08:56] santomegonzalo commented on #35
@msevestre I tried what you mention and will not work. Its a limitation of react-native. On another project I was trying to open a popup from a button, mounting it with position: absolute and everything but the popup was just inside the button.

There is a way to do it and I'm testing it to see how works but I will need to change a lot and could break current implementations. I need to keep invest

[2018-03-29 12:33] santomegonzalo commented on #34
great! let me know if there is something else @Hvkvn !

Best

[2018-03-29 14:13] msevestre commented on #35
@santomegonzalo Yeah thinking about it a bit more, I understand the problems you were mentioning.

I wonder if something like [that](https://github.com/testshallpass/react-native-dropdownalert/blob/master/DropdownAlert.js#L471) could be used. Somehow the alert comes on top of everything and can be declared anywhere in the tree.

[2018-04-13 00:22] ademc opened #37 "Can not use inside scrollview"
Hi,

This is good component but i guess we can not use inside scrollview. When i put inside the scrollview fab button shows in the end of container. I expected that fab must stay spesific location.

[2018-04-13 02:12] ademc commented on #37
I found solution. If i use a view as as parent view i can use.

<View>
<Fab>
<ScrollView>
..
</ScrollView>
</View>

[2018-04-13 02:12] #37 closed

[2018-04-25 15:05] pecabum commented on #16
This thing doesn't work like that... is there any update ?

[2018-05-17 17:35] qasimalbaqali commented on #16
Not working with me as well.

[2018-05-29 03:39] lntoan opened #40 "Cannot use in ScrollView"
Control cannot use in ScrollView

[2018-06-06 06:34] santomegonzalo commented on #40
Hi @lntoan can you explain in details what is not working?

[2018-06-24 12:29] santomegonzalo commented on #40
I'm closing this issue because there is no responsr from the author

[2018-06-24 12:29] #40 closed

[2018-06-27 17:27] zwerg44 opened #44 "Wrong ripple color"
**version:** 1.10.1

Looks like `shadeColor` function supports only `#00879d` color format.

It causes weird ripple effect with wrong color in case of FloatingAction color is set in other formats.
It would be nice to have support of other color formats for example: `rgba(0,135,157,1)` or `#888`.
Or some note about it in readme at FloatingAction's color prop.

`shadeColor('rgba(0,135,157,1)', -30);

[2018-07-03 21:55] hecontreraso opened #45 "uncompiled PNG file passed as argument. Must be compiled first into .flat file."
Getting this error after I updated to gradle 3

`
miapp/android/app/build/intermediates/res/merged/release/drawable-xhdpi/node_modules_reactnativefloatingaction_images_add.png: error: uncompiled PNG file passed as argument. Must be compiled first into .flat file..
error: failed parsing overlays
`

[2018-07-07 13:29] santomegonzalo commented on #45
This is weird... today i will uodate to the latest react native and i will check whats going on

[2018-07-09 06:43] santomegonzalo commented on #44
Hello @zwerg44 I will take a look today and fix it... thanks for the issue

[2018-07-10 06:36] hashmatmuqbil opened #49 "floating button not shown on iOS when the keyboard is displayed"
Hi,
Floating button is getting hidden by keyboard on iOS when the keyboard is on, but it works fine on Android

[2018-07-10 07:48] santomegonzalo commented on #49
Hi @hashmatmuqbil , I never used this case before, but its a normal problem with iOS because depends on how the `View` is rendered... Let me take a look to see if it's possible to set this feature to follow the keyboard.

[2018-07-10 07:51] santomegonzalo commented on #49
Another thing that came to my mind, iOS will show the keyboard when we are doing focus on a Text. but as soon as you will try to click on something else (like floating action) the keyboard will disappear... But let me take a look.

[2018-07-12 11:51] n1ru4l commented on #45
https://github.com/facebook/react-native/issues/16906#issuecomment-365790350

[2018-07-14 12:00] santomegonzalo commented on #49
Hello @hashmatmuqbil ... your request was awesome. I never thought on this. Please get the latest version `1.12.0`. Here are the release notes: https://github.com/santomegonzalo/react-native-floating-action/releases/tag/v1.12.0

Thanks again for the support.

If you like I could promote your app on my repository.

[2018-07-14 12:00] #49 closed

[2018-07-15 10:55] santomegonzalo commented on #45
hi @hecontreraso . I just deployed a new version `1.12.1` fixing this error. Basically I replaced the png file for a simple react component. Now for us works perfectly.

Thanks for the support @n1ru4l

[2018-07-15 10:55] #45 closed

[2018-07-15 18:21] santomegonzalo commented on #16
hi @pecabum and @qasimalbaqali did you test the example on expo?

[2018-07-31 06:18] anand-y opened #54 "(android) actions Text not vertically centered"
text is not vertically aligned in Android , Ios working fine

[2018-07-31 23:29] msevestre opened #56 "Allow custom style to be applied to action text"
Right now, it is not possible to modify the text style
https://github.com/santomegonzalo/react-native-floating-action/blob/master/component/FloatingActionItem.js#L62

It would be fantastic to be able to supply an optional prop for the style as well as some extra props that would be passed along the text component

[2018-08-06 07:18] #56 closed

[2018-08-06 07:25] santomegonzalo commented on #54
Thanks @yadavanand I will take a look!

[2018-08-22 13:34] ronastlelobo opened #61 "How to stop the animation of the floating action Button ?"
I don't want it to be tilted on pressing

[2018-08-29 13:25] DimitrisTzimikas opened #62 "Fixed floating action button between top tab change."
Is there a way to have the button fixed on bottom right while i switch between top tabs? Right now i'm switching screens but the button is on every single one of them.

[2018-08-30 20:41] msevestre commented on #62
Can you define the floating action component in the parent component (e.g. at the same level as the tabs component?)

[2018-08-31 13:13] santomegonzalo commented on #62
Hi @DimitrisTzimikas ... as @msevestre said, the only way is to define the component in the parent because that is how React Native works...

[2018-09-03 13:02] DimitrisTzimikas commented on #62
Thanks @msevestre & @santomegonzalo!! Sometimes the simplest things are the hardest to get... It just had to put it in the root component as you said.

[2018-09-03 20:08] santomegonzalo commented on #62
good to heard @DimitrisTzimikas !

[2018-09-03 20:08] #62 closed

[2018-09-03 20:09] santomegonzalo commented on #61
What do you want exactly @ronastlelobo ? once you click... you want to stop the animation to show the other buttons? can you give me more details please...
Thanks

[2018-09-05 13:06] DimitrisTzimikas commented on #36
Hello @santomegonzalo. Size in actions don't work for me... It suppose to change the size of the opening buttons or the one on the bottom right?

[2018-09-06 15:12] karelnet opened #64 "How to apply to createMaterialTopTabNavigator ?"
Hi,

I'm trying to put the FAB over a TopTapNavigator created using createMaterialTopTabNavigator method.
My idea is that the button floats over any tab (not changing with tab content)

Do you have an example of how to do that ? That would be great !

Thanks

[2018-09-10 14:46] 2f-concept opened #65 "How to change main button icon"
First of all, congratulations and thank you for this excellent job!
Is it possible to change the icon of the main button?
If yes, how ?

[2018-09-10 14:50] 2f-concept commented on #65
Sorry, I just found by myself: just use the property 'floatingIcon', it's so easy! ;-)

[2018-09-10 14:50] #65 closed

[2018-09-17 09:00] tsvetan-ganev opened #66 "[Feature Request] On main button state changed callback"
First of all, thank you for publishing your great module. It perfectly matches my needs and is customize-able enough for more advanced scenarios as well.

One feature that will make it even better is for the component to accept a callback function which will be triggered every time the state of the main button changes (open/closed). My use-case is that I want to change the main button's background

[2018-09-19 13:16] karelnet commented on #64
I'm sorry I finally moved to a completely new approach. Thank you for your time.

[2018-09-19 13:17] #64 closed

[2018-09-19 14:59] santomegonzalo commented on #66
hi @tsvetan-ganev thanks for your comments!

You could do the same using `onPressMain(bool)` because that will return true or false and then you can use `onPressBackdrop` ... but for simplicity, I will create a new callback called `onStateChange` so you don't need to listen to both functions.

I will let you know as soon as it's ready :)

[2018-09-19 15:15] santomegonzalo commented on #61
Closing this issue because I need more information about it and the issue was created a month ago.

[2018-09-19 15:15] #61 closed

[2018-10-17 09:50] noumantahir opened #67 "Action Button not showing up on Android, working fine on iOS"
I am using Floating Action Button version 1.13.0. It's working find on iOS but doesnt even show up on Android, I even tried changing layouts and also tried out variants of relative and absolute position but no luck...

[code]

Some information about versions I am using...

React Native

Android

Some Screenshots
iOS
![simulator screen shot - iphone 6 - 2018-10-17 at 14 47 23](https://user-images.g

[2018-10-23 06:11] VjVijey opened #68 "Floating Icon"
How we can change the **plus icon** of the Button?

[2018-10-23 07:09] santomegonzalo commented on #68
the plus icon is not possible to change it right now if you want to have sub actions after the user press it. If you don't want that sub actions then please check this https://github.com/santomegonzalo/react-native-floating-action/blob/master/example/ReactNativeFloatingAction-Expo/screens/FloatingActionOverrideWithActionScreen.js

The problem with override the button is that I need to set an icon

[2018-10-23 09:17] #68 closed

[2018-11-07 11:34] santomegonzalo commented on #67
Closing because for 2 weeks I didn't get any response

[2018-11-07 11:34] #67 closed

[2018-11-15 05:46] crespoter commented on #7
@gusilveiramp I am having the same problem. Have you found a solution ?

[2018-11-15 05:55] crespoter commented on #7
There doesnt seem to be any option to set just the vertical margin on the FloatingActionItem object. I was able to set the margin by editing the FloatingAction.js file in the library and setting marginBottom for Main Button and Actions.

[2018-11-21 12:12] gusilveiramp commented on #7
Hi @crespoter, sorry for the super late reply.
Yeah, I solved the problem exactly like this. I modified the FloatingAction.js file according to my need and submitted it to a private repository in order to use npm install without losing the changes. You can also simply copy it to your project, eg.: put it in the components folder and use it (import it) directly from there. Good luck in your project

[2018-12-09 04:56] kunaldodiya opened #70 "Warning: Each child in an array or iterator should have a unique "key" prop."
where to put key props ???

[2018-12-11 10:31] santomegonzalo commented on #70
@kunaldodiya are you sure that warning is coming from the component? could you share the log of that warning so I could understand from where is coming?

Thanks!

[2018-12-17 12:08] kunaldodiya commented on #70
There is not direct error but it shows in debug console, nothing breaks at all. everything working but still the warning making me crazy :)

[2018-12-17 12:17] kunaldodiya commented on #70
nope, i think react native can not allow multiple action item without unique key, in <Component key={some_unique_key} />, but there is not any option to give key.

[2019-01-02 14:58] tyson90 commented on #66
Hi, I just created PR #71 with `onStateChange` functionality.

[2019-01-19 06:00] Salil999 opened #73 "Disable animation"
Is it possible to stop the rotation animation of the button when it is pressed? I just need the button itself.

[2019-01-19 06:09] Salil999 commented on #73
I temporarily fixed this by commenting out these lines in the source code:
https://github.com/santomegonzalo/react-native-floating-action/blob/master/component/FloatingAction.js#L207-L209

[2019-01-20 19:35] santomegonzalo commented on #66
I just merged and release PR #71 ... thanks!

[2019-01-20 19:35] #66 closed

[2019-01-21 11:45] santomegonzalo commented on #73
Hi @Salil999 I will work on this tonight and create an example of this.

[2019-01-28 13:47] santomegonzalo commented on #66
@msevestre I did... could you check again please?

[2019-02-04 19:52] roneymaia opened #74 "Text Actions - fontFamily, fontWeigth and fontSize"
is there any way to apply more styles in text ?

[2019-02-05 09:50] santomegonzalo commented on #74
not right now... but it's a good feature to add... I will mark this issue as a "new feature"

[2019-02-20 11:05] tom-krusch commented on #36
@santomegonzalo when do you release the customizable size ?

[2019-02-26 16:47] czystyl opened #79 "FloatingAction button shadow"
Even if we are providing the custom component for The Floating Button, the shadow is still visible.

![image](https://user-images.githubusercontent.com/10349378/53430148-44c0da80-39ee-11e9-9c03-8f4ba5bad1d6.png)

Code:
[code]

[2019-04-08 22:34] Louis345 opened #80 "Question on your TODO"
I'm interested in contributing and was wondering what you meant by crazy animations? Is there anything I can do to help this repo?

Thanks.

[2019-04-11 02:57] mohamdaoui commented on #44
Any news on this one? seems to still be an issue on `1.14.2`

[2019-04-11 06:36] devanshAppiness opened #81 "On pressing the Action Floating button , it gives a blue color, although button is black"
`
<FloatingAction
        actions={actions}
        color={"#000"}
        onPressItem={
          (name) => {
            if(name== 'Logout'){
              this.logout()
            }
            else if(name== 'ABC'){
              Actions.ABC()
            }
            else if (name == 'DEF'){
              Actions.DEF()
            }
            else if(name == 'XYZ'){
              this.XYZ

[2019-04-12 12:26] devanshAppiness commented on #81
Is there anyone active from the community to answer this ?

[2019-05-20 12:48] #73 closed

[2019-06-04 19:39] santomegonzalo commented on #81
Hi @devanshAppiness sorry for the delay. I tested it and I can not reproduce it... could you give me more information?
- the main button is changing the colour?
- the action buttons have different colours?

Could you upload some gif or something?

I tested it on my expo example and works like a charm...

<img width="384" alt="Screenshot 2019-06-04 at 20 37 31" src="https://user-images.githubuserco

[2019-06-04 19:41] santomegonzalo commented on #80
Hi @Louis345 !!! you are more than welcome to help me with new features... I was thinking something like animations from outside the screen or something like that... or something like the developers could define their animations... maybe trying a new library like https://github.com/kmagiera/react-native-reanimated

[2019-06-04 19:42] santomegonzalo commented on #79
The shadow is always there... I will add a new prop to remove that shadow if the user wants

[2019-06-04 20:04] santomegonzalo commented on #79
Hi @czystyl I just merged and deployed a new version allowing you to change or remove the shadow... On expo you could change the new prop (I created a new screen).
If you want to hide it please follow this example: https://github.com/santomegonzalo/react-native-floating-action/blob/master/example/screens/FloatingActionShadow.js#L50

This is the PR: https://github.com/santomegonzalo/react-native-fl

[2019-06-04 20:05] #79 closed

[2019-06-06 14:05] santomegonzalo commented on #44
Sorry for the long delay... @zwerg44 @mohamdaoui  I just pushed a new version with a fix for this color thing. https://github.com/santomegonzalo/react-native-floating-action/pull/84

**Version: 1.17.0**

[2019-06-06 14:05] #44 closed

[2019-06-14 16:30] getavinashm opened #85 "How to reset isActive state ?"
Hi,
  I am trying to redirect to another screen in certain conditions when tapping on main button. This happens, however when navigating back to the screen is showing the inactive backdrop. User has to tap on the screen to make it active. Until then the state remained at false. How do I set the state to false programatically so that screen remains active after I navigate away ?

[2019-06-17 13:26] santomegonzalo commented on #85
Hi @getavinashm the best way to do it is the following

[code]

and then when you press the action and you navigate you could call the following

[code]

and that will hide it if the actions are visible...

Let me know if that works

[2019-06-17 18:27] eddylan2894 opened #86 "Change the size of the action icon"
After I adjust the 'size' for the icon in my actions list, the rendered icon size doesn't change.

[2019-06-24 06:15] debajyoti-xyz opened #87 "Expo example is broken."
While trying to open the expo example in its latest android app, it shows the following error:
"This experience uses SDK v27.0.0, but this Expo client requires at least v33.0.0".

I can see a branch #update-expo-example. I am willing to make a pull request. Where do I start?

[2019-06-26 20:39] vikramkh commented on #86
There's only a way to change the icon within the button right now, but I agree there should be a way to change both the main button and action button sizes.

[2019-07-04 15:08] ansarikhurshid786 commented on #65
how can i keep close icon.

[2019-07-06 10:14] ansarikhurshid786 opened #88 "floating main close icon"
I want to change main floating icons.

I used floatingIcon props to change. i can change i can icon but i need close icon when user click on floating button.

can anyone help me ?

[2019-07-06 10:58] ansarikhurshid786 commented on #34
Now it is working fine.

[2019-07-08 08:39] Ade94 opened #89 "componentWillReceiveProps is deprecated"
![Screenshot 2019-07-08 at 09 30 11](https://user-images.githubusercontent.com/43336302/60795797-42247d80-a164-11e9-8a85-65c0daf399f4.png)

[2019-07-12 20:14] edferreira commented on #88
Maybe you can use onOpen prop to get the click and change programatically inside the floatingIcon?

[2019-07-15 11:24] santomegonzalo commented on #88
@ansarikhurshid786  there is no way to change the close icon... I think what @edferreira is saying will not work because there is an animation to rotate the icon... I will add that feature this week and let you know once is ready...

[2019-07-15 20:46] edferreira commented on #88
You can try something following this lines. It will use a different Image for the open and close state.
[code]

[2019-07-15 20:50] edferreira commented on #88
If you could add a different Image for the floatingIcon to do the close action it would be great too

[2019-07-30 07:20] ansarikhurshid786 commented on #88
any update ?

[2019-07-30 07:35] ansarikhurshid786 commented on #88
@santomegonzalo : this is common feature in any fab button. when user click on fab close icon should show.

can you please update?

[2019-07-30 20:29] #89 closed

[2019-08-22 17:30] antonkulyk commented on #74
Hi, as I see in the [`FloatingActionButtom` implementation,](https://github.com/santomegonzalo/react-native-floating-action/blob/3194f8067c7698cc7eabcdac8bcc2bf441ecba53/component/FloatingActionItem.js#L70) it accepts the `textStyle` prop which is passed to the `Text` component.

Perhaps you can just pass it from the `action` object like:

[code]

[2019-08-25 19:09] davidli3100 opened #95 "overlay doesn't cover tab navigation"
When using react-navigation to render a bottom tab, it isn't covered by the overlay in the floating action button. Is there any way around this?

[2019-08-25 21:15] davidli3100 opened #96 "Button doesn't have elevation"
The FAB is covered (i.e. not shown) when there are other components with an elevation on the same screen that take up the same space that it does. I tried adding elevation to PropTypes and elevation to the shadow properties, but it hasn't worked.

[2019-08-30 17:33] tachtevrenidis opened #97 "latest version seems broken"
error ▶︎ Failed to compile.
error ▶︎ [ '/Users/vsts/agent/2.155.1/work/1/s/common/temp/node_modules/.onedrive.pkgs.visualstudio.com/react-native-floating-action/1.19.0/react-native@0.60.5+react@16.8.6/node_modules/react-native-floating-action/src/FloatingAction.js\nModule build failed (from /Users/vsts/agent/2.155.1/work/1/s/common/temp/node_modules/.onedrive.pkgs.visualstudio.com/babel-loader/8.0

[2019-08-30 20:37] crobinson42 commented on #97
A simple (dumb) overlooked mistake was published. @santomegonzalo

This is where a precommit hook to run eslint will save everyone a headache 😞

<img width="268" alt="Screenshot 2019-08-30 13 36 42" src="https://user-images.githubusercontent.com/5973579/64049908-45683400-cb2b-11e9-9216-d1dd1f17bab6.png">

[2019-08-30 21:04] santomegonzalo commented on #97
fixing it now

[2019-08-30 21:15] santomegonzalo commented on #97
I just pushed a fix for this error. Sorry about that I will work on the prehooks next week.

[2019-08-30 21:15] #97 closed

[2019-08-31 04:24] antonkulyk commented on #97
My fault, sorry for that 😞

[2019-09-05 14:58] tpoppen opened #100 "FAB Action Text margin not working on iPad Mini 4"
Expected text label for FAB Actions, works fine on most devices.

![FAB-proper-text-spacing](https://user-images.githubusercontent.com/6015146/64353567-952f7b00-cfc3-11e9-8569-8f67412bc6f6.png)

Experiencing the below case on iPad Mini.

![FAB-text-spacing-issues-ipad-Mini-4](https://user-images.githubusercontent.com/6015146/64353626-aaa4a500-cfc3-11e9-8d9d-f8f6040083e0.jpg)

Unsure what could be

[2019-09-11 08:42] santomegonzalo commented on #100
hmmm looks like this is not a problem related to just my package... I think is related to this https://facebook.github.io/react-native/docs/text.html#allowfontscaling... Makes sense to support it for accessibility but I don't know how to handle it exactly because if I make the container adjustable then both could get overlap...

Check that your TabBar "Agenda" it's getting cut too.

[2019-09-11 08:43] santomegonzalo commented on #96
Could you show some screenshot or an example of how I could reproduce this problem?
Thanks

[2019-09-11 08:46] santomegonzalo commented on #87
This is weird because we are using the latest Expo version... https://github.com/santomegonzalo/react-native-floating-action/blob/master/example/app.json#L7

Probably I forgot to deploy it to expo... I will take a look right now

[2019-09-11 08:49] santomegonzalo commented on #87
I just deployed to expo again... could you try again please?

[2019-09-11 08:49] santomegonzalo commented on #86
please feel free to bring ideas and make a PR

[2019-09-11 08:50] santomegonzalo commented on #81
Closing this issue because there were no more information about this issue

[2019-09-11 08:50] #81 closed

[2019-09-11 08:51] santomegonzalo commented on #85
Closing because there was no more activity.

[2019-09-11 08:51] #85 closed

[2019-09-11 08:51] santomegonzalo commented on #80
Closing because there was no more activity.

[2019-09-11 08:51] #80 closed

[2019-09-12 00:01] davidli3100 commented on #95
@santomegonzalo have you tried adapting the overlay with the react-native full screen overlay component? That might be a bit less hacky.

Also, I think a PR is needed for shadowprops. There's an issue on android where the FAB is hidden under other views if the view has any sort of shadow/elevation.

I added it myself to my own custom derivative of this library, perhaps you can get it in the main l

[2019-09-18 01:00] davidli3100 commented on #96
@santomegonzalo so basically just try to place the FAB in the same hierarchy of the RN "dom" (or whatever they call it) tree as a view that has a shadow with elevation.

Make sure the view also extends past the space that the FAB occupies and you should see that the FAB doesn't appear at all because it's hidden under the view with elevation (similar to z-index)

[2019-09-29 15:37] piface314 opened #101 "FAB Shadow above button"
I was using this component in a test project some days ago, and the FAB looked just like the examples. However, when I started a new project yesterday, the button shadow, that should be under the button, is being rendered above it. The code for both projects is the same, just the colors are different.

Then:
![Screenshot_20190929-122254](https://user-images.githubusercontent.com/22157025/65834832-

[2019-10-02 05:31] stefoid commented on #101
I have just upgraded to RN 0.61  and can confirm it breaks the button on Android, but strangely only on some screens, even though the params to the button are the same in each screen.  When it breaks, it looks like it doesnt draw the coloured circle for the button itself, only the shadow is visible.

![Screen Shot 2019-10-02 at 3 29 07 pm](https://user-images.githubusercontent.com/8017974/66020181

[2019-10-09 11:30] sagar15bhavsar commented on #100
I'm facing the same problem
@santomegonzalo do you have any update?

[2019-10-09 23:03] davidcort commented on #101
I had this problem too.
The solution was update to:  "react-native": "0.61.2"

Lucky !!  :)

[2019-10-09 23:28] stefoid commented on #101
cheers, David.

[2019-10-12 16:27] bob333 opened #103 "Does not work in expo client"
The expo app displays with the following message

"This project uses SDK v27.0.0, but this Expo Client requires at least v33.0.0"

[2019-10-12 23:55] HerbertLim commented on #103
You have to upgrade your app to Expo SDK v33 or higher. As Expo client's version gets higher, apps with old version of SDk are not supported. This issue is not related to react-native-floating-action.

[2019-10-15 12:43] santomegonzalo commented on #101
Thanks @davidcort as you mentioned, the problem was React... updating to `0.61.2` will fix it

[2019-10-15 12:43] #101 closed

[2019-10-21 14:23] soorajc opened #104 "Property 'buttonSize' does not exist on type 'IntrinsicAttributes & IntrinsicClassAttributes<FloatingAction> & Readonly<IFloatingActionProps> & Readonly<{ children?: ReactNode; }>"
The buttonSize props is missing in the IFloatingActionProps.

While using the  Floating Action component with TypeScript it throws the error "buttonSize property does not exist"

Kindly include buttonSize in iFlotingActionProps.

[2019-10-28 10:10] robertqin86 commented on #103
i think the issue is not the expo client is outdated. The issue is the project published examples expo sdk is outdated.

[2019-11-08 06:39] rahulnainwal107 opened #105 "Floating button is hiding behind flatlist and also action button has a shadow ."
I am facing an issue with this library when using it with flatlist, floating button is hiding behind flatlist items and also button has shadow from left, right and top.have a look on that two screens screens:

![Screenshot_2019-11-08-11-55-54-044_com cloudarchiveapp](https://user-images.githubusercontent.com/36499090/68455095-79915c80-0220-11ea-809f-2f78eadd508e.png
![Screenshot_2019-11-08-11-56-2

[2019-11-19 09:08] leonsoh opened #106 "Unable to tap the button when position is absolute [Android]"
Hello, first of all thank you for this library 👍

I had encountered a problem when wrapping a view with position `absolute`. The action button doesn't seem to trigger any click.

I am still fairly new to React Native, so if I had misunderstood any usage parts please let me know, thanks!

**This issue is on Android. iOS is working fine.**

Example code:
[code]

React Native: `0.60.5`
Device: Tried

[2019-11-26 12:24] gauravroy1995 commented on #106
same here, even without aboslute, button is not clickable, infact the below compoent is getting clicked. and tried with zindex too , but no use.

[2019-11-28 06:25] leonsoh commented on #106
Okay, I tried implement custom fab from scratch and encountered the same issue. I managed to solve it by wrapping the `TouchableOpacity` onto another `View` with `width` and `height` so that it will be clickable. This solution is to resolve Android's touchable issue.

[2019-11-29 09:03] #106 closed

[2019-12-09 15:37] sankar9659 opened #107 "distanceToEdge is not working for different pages."
I have used distanceToEdge props, to show the icon in every page in every  position, but it's not working, I put that in main APP page
Here is my code,

floatingIconEdge = () => {
		// floating icon showing edges for different screens
		const { currentScreen } = this.state
		Reactotron.log({ currentScreen: currentScreen });
		switch (currentScreen) {
			case 'ShopScreen':
				return { vertical: 0,

[2019-12-11 06:46] musadiq-jinbade opened #108 "In floating Action How Can we add gradient color."

[2019-12-11 09:00] aniruddhashevle commented on #85
@santomegonzalo :  instead of `this.action.animateButton();` you mentioned above, `this.action.reset();` would be the best! @getavinashm : Please note this.

[2019-12-11 17:38] santomegonzalo commented on #108
no we can’t but if you want please feel free to open a PR.

[2019-12-11 17:39] santomegonzalo commented on #107
I need more information because react native Views are not like HTML and depends on which device are you using (android or ios).

[2019-12-11 17:40] santomegonzalo commented on #105
This could be because on how you are adding the button. I need more information about how are you using the flat list with the button.

[2019-12-12 05:09] RahulNainwal commented on #105
I have added this like :

import React, { useState } from 'react';
import { FlatList, Alert,View } from 'react-native';
import { FloatingAction } from "react-native-floating-action";

`<View style={{flex:1}}>`
`<FlatList`
`data={data}`
`keyExtractor={keyExtractor}`
`renderItem={renderItem}`
`/>`
`<FloatingAction`
`actions={actions}`
      ` showBackground={true}`
       `color={Colors.carrot_orang

[2019-12-13 17:06] peterkuiper opened #109 "animated is missing from IFloatingActionProps"
The following error occurs:

[code]

I will create a PR that adds the `animated` bool.

[2019-12-24 13:07] Dutt23 commented on #105
Same issue.
I've put it inside a container , without any styling.
Works fine in IOS though.

[2019-12-24 17:18] Dutt23 commented on #105
Adding a backgrounf color in sizeStyle , on line 412 , in file FloatingAction.js. Does fix the issue.

[2019-12-29 18:04] #104 closed

[2019-12-29 18:05] #109 closed

[2019-12-29 18:08] santomegonzalo commented on #104
fixed on version `1.20.0`. Thanks @peterkuiper !

[2019-12-29 18:08] santomegonzalo commented on #109
fixed on version `1.20.0`. Thanks @peterkuiper  !

[2020-01-09 14:51] Muratoter opened #118 "animated prop not working release mode on Android"
I set animated={false} attribute. But didn't effect at release mode on android.

[2020-01-10 14:30] peterkuiper commented on #118
@Muratoter It seems animated only controls the spring action when using multiple actions. If you use it for a single action the `+` will still animate to a `x`. I was also expecting there to be no animations at all.

@santomegonzalo I can look into creating a PR that disables all animations or specific ones. Would you be up for that? Maybe better naming would help, i.e. `disabledMainButtonAnimatio

[2020-01-12 00:45] marcosjoao37 commented on #105
Same issue here.

I'm using like this:

[code]
Where the `<ContentList />` contains the `<FlatList />`.

[2020-01-12 00:49] marcosjoao37 commented on #105
So I just added a `zIndex: 0` on `pageStyle.mainBody` style and fixed it.

[2020-02-06 05:11] nowarzz commented on #107
I am also unable to use distanceToEdge with object { horizontal : Number, vertical: Number } but was able to do with Number...

the error I got is:
"Error while updating property 'paddingLeft' in shadow node of type: RCTView

Unknown value: [object Object]8

meanwhile 8 is the default value of padding

[2020-02-06 05:12] nowarzz commented on #107
Device: Android.

[2020-02-11 06:20] itsgauravjain22 opened #119 "Expo Icons as prop"
I am using expo Icons library as follows:
[code]

from [here](https://docs.expo.io/versions/latest/guides/icons/)

Is there a way Ionicon component to action icon prop, instead of separately put icon image instead of require("./images/ic_language_white.png"),

[2020-02-11 06:29] itsgauravjain22 commented on #119
I couldn't find the example of usage. But I could do it as below:
[code]

[2020-02-11 06:29] #119 closed

[2020-02-16 11:17] samernady commented on #74
any update on this . ?

[2020-02-18 14:26] antpuleo2586 opened #121 "Expose testID of Touchable component"
Can you please expose the `testID` prop of the Touchable component in `FloatingAction.js`, so that I can simulate the button press in my tests?

I can open a. PR if you'd like.

Cheers!

[2020-02-21 09:44] nihp opened #122 "How can I align the label below the icon"
How can i align the label below the icon.

Any style to align like below modified image

Here I want to show the label below the icons
Also needs to apply styles for text and icon
![Screenshot 2020-02-21 at 3 13 23 PM](https://user-images.githubusercontent.com/36992338/75022869-dad1f880-54bc-11ea-9f1c-f7fea50dec5d.png)

[2020-03-03 16:27] matheuschagas commented on #121
I created a PR #123 to use testID and accessibilityLabel on FloatActionItem.js

[2020-03-07 18:09] hern12 opened #124 "How can I change icon color of Main Fab button"
current It is white, I do not know how to change it

[2020-03-10 07:19] nihp commented on #105
I need to set the button as a color and floating buttons as an another color with an image. Can I able to make that different for that Icon

[2020-03-10 08:43] nihp commented on #81
@santomegonzalo
Here I need main Icons background as red and other icons background as transparent.

How can I acheive this?

[2020-03-10 08:54] nihp opened #125 "Unable to see the text if the position is "center""
Unable to see the text if the position is center in react-native-floating-action

[2020-03-10 08:55] nihp commented on #79
Unable to see the text if I position this to center of the screen?

Any solution for that?

[2020-03-10 08:56] nihp commented on #36
Any update?

[2020-03-10 08:58] nihp commented on #74
Unable to see the text, If I make the position as center.

Note: I can able to see the text if the position is left or right.

[2020-03-10 12:32] nihp commented on #124
Add color in the FloatingAction

<FloatingAction color= {'red} />

[2020-03-17 12:38] gurupatel-sa commented on #125
Which device you're using ? Platform and OS ?

[2020-03-17 13:42] nihp commented on #125
iOS

[2020-03-29 15:41] dpyeates opened #128 "Use native animations"
Please can you use the native driver for all animations. Not using the native drivers in React Native 0.62 and above gives a YellowBox warning.

[code]

[code]
etc.

[2020-04-14 14:25] dl-husky73 commented on #128
Is there going to be an update here so we can get rid of the warning?

[2020-04-21 14:53] dl-husky73 commented on #128
Until then, made the changes above and all works great!  Thx

[2020-04-26 11:25] Himvan opened #133 "Action items are not touchable in android"
On click on the action items the back view touch eventy triggers . please help

[2020-05-09 11:13] nihp opened #134 "How can I restrict the animations which shows while navigtion from one tab to another tab in react-native"
I need to restrict the animation while moving from one tab to another tab. How can i restrict this?

[2020-05-09 11:19] nihp commented on #61
If I am navigating from the one screen to another screen FAB button shows in the another screen.

How can I restrict this action while navigating?

[2020-05-09 14:13] santomegonzalo commented on #61
The only way of doing this is to move the button to the top of all screens... if the button lives inside one screen the. you can not do it... this is a restriction from React Native... if you put the button outside the navigator then should work but I’m not 100% sure if that will work on the latest version of react-native-router because it is using native navigators.

[2020-05-16 02:03] rodrigodiasnoronha opened #135 "Use .SVG in Floating Button Actions"
I'am trying to use an icon.svg as action icon, but its does not work. The Icon just doesn't appear inside the action.

`
      <FloatingAction
                    color={theme.buttonPrimary}
                    actions={[
                        {
                            text: 'Create Note',
                            icon: require('../assets/plus.svg'),
                            name: 'cre

[2020-05-22 00:13] fidabhittani commented on #7
Hi I think that is a bit complicated solution.
What I did was to wrap it in a `View` then instead of using marginBottom, I used bottom
![image](https://user-images.githubusercontent.com/5584787/82617803-9e608680-9bea-11ea-88a8-36e7c4d4266d.png)

[2020-05-23 13:51] HoWWWWWhy opened #136 "How can I solve this warning? Animated: useNativeDriver was not specified"
I have this warning. Please help me.

Animated: `useNativeDriver` was not specified. This is a required option and must be explicitly set to `true` or `false`

Is it possible to solve this problem?

Thank you.

[2020-05-26 11:16] harshdvaid24 commented on #136
facing same issue dude.

[2020-05-28 04:26] jpouabou commented on #136
Same issue.

[2020-05-29 03:17] atif7865 opened #137 "Does not work!"
Followed the example code, do I have to call the onPressMain method and pass some sort of function to get the item buttons to show up? should the click on main button automatically open up the item buttons?

[2020-06-09 08:37] ramonvermeulen opened #140 "useNativeDriver is required as of react-native 0.62.0 fix"
Created a pull request to fix this issue: https://github.com/santomegonzalo/react-native-floating-action/pull/139

Please check if all values are set correct, maybe there are more animations that actually 'can' use the native driver for performance improvement.

[2020-06-16 22:29] peterzanetti opened #141 "Open Direction? (down)"
I can't seem to find this. Is there a way to make the action menu open down instead of up?

[2020-06-20 17:38] camin-mccluskey commented on #118
Seems like issues affect iOS in release mode also

[2020-06-27 18:35] jahorwitz commented on #137
Can you post your code to give us something to go on?

[2020-07-22 08:49] #128 closed

[2020-07-22 08:49] #136 closed

[2020-07-22 08:49] #140 closed

[2020-07-29 23:04] jandrewff opened #145 "Hide FAB if open the keyboard"
hide a floating button when i access an EditText and open the keyboard

[2020-09-01 11:00] sabrimev opened #147 "visible is set to false but still clickable"
FAB is clickable even though visible prop is set to false. And actions are working.

![issue](https://user-images.githubusercontent.com/4224210/91841551-3f83c200-ec5b-11ea-8676-0877fb1a3224.png)

[2020-09-09 08:53] wthushan01 opened #148 "Action icons are always white"
I'm trying to use colored images (png) as action icons but when I'm testing them they have no color. They all are just white. Is this intentional or am I missing something?

[2020-09-22 10:13] atm98 commented on #148
Facing the same issue myself.

[2020-09-25 09:42] dhamodar-adappt commented on #133
Dont Wrap the component in the "View" and it works

[2020-10-02 08:52] Frabanz commented on #133
Give that man a cookie! 🍪
Thanks a lot

[2020-10-06 08:33] Frabanz opened #150 "Add Property "animateButton" to FloatingAction"
`TypeScript-Error: Property 'animateButton' does not exist on type 'FloatingAction'.`

Please add animateButton in index.d.ts

Best Regards

[2020-10-14 21:45] RaduAlbastroiu commented on #148
I encountered the same problems as you guys, I know it's been a while but after my investigation I found out that the tintColor modifies the action icons color.
Now tintColor is user accessible and can be set to any value inside the actions array.

Until the change is accepted you can use my fork branch: "react-native-floating-action": "radualbastroiu/react-native-floating-action#feature/action_ic

[2020-10-27 16:22] wonderer007 commented on #141
I am too looking to change open direction to downwards

[2020-10-28 20:58] lucj opened #152 "Bouton pushed down when new items are added to a FlatList"
I use the FAB in a screen containing a FlatList. The positioning is correct when the FlatList only contains a couple if items but the FAB is pushed to the bottom (or even disappears) when more items are added (number of items depends upon the dimensions of the mobile's screen). I get this behavior on all the simulator or devices I'm testing with (iPhone SE, 8, 11, XR, Samsung S7, ...).

- Correct

[2020-10-31 20:11] lucj commented on #152
Sorry my bad...
Moving all the stuff above the FlatList in the header of that one fixed the whole thing :)

[2020-10-31 20:11] #152 closed

[2020-11-18 21:27] tolik85 commented on #148
It used to work in the past. How come the icons are only white now? What happened?

[2020-11-19 16:56] ducgiangtrankma commented on #148
You can edit actions and add properties tintColor && color . Example :
{
  text : 'Item1',
...
  tintColor: 'red',
  color: 'green',
}

[2020-12-13 10:11] iamshhree commented on #105
make the <FloatingAction> the last node in your <View> . That works for me perfectly.!!

[2021-01-09 13:56] mofengfs opened #157 "about `overlay` size"
I want to operate the content page under the default `open` situation. Because of the existence of `overlay`, I have to touch it first. Is there any way to set the size of `overlay`?

![image](https://user-images.githubusercontent.com/16655229/104093436-7df25300-52c5-11eb-8885-9887404bfe88.png)

[2021-01-09 14:23] mofengfs commented on #157
showBackground={false}, it is what I want

[2021-01-09 14:23] #157 closed

[2021-01-18 03:01] filipearena commented on #121
Is anyone looking at this? I would really appreciate if the testID param was included: I had to do a weird workaround with Detox to be able to tap the FAB :/

[2021-02-17 02:16] CryceTruly commented on #106
I had a similar issue, the problem was that I had a TouchableOpacity as the direct Parent.i removed that, and things are working

[2021-02-17 02:19] CryceTruly commented on #121
hey @filipearena, I have a similar problem, I would appreciate knowing what your workaround is?

[2021-02-17 02:54] filipearena commented on #121
@CryceTruly, I basically added the testID by myself on the library component inside my local node_modules so I could at least write the test. Obviously this wouldn't solve the problem given that when running npm install or yarn you would overwrite it. Potentially you could also fork this repo, make the change and then point to your forked Github url (as a temporary fix until they add the param to

[2021-02-25 18:23] bearkfear opened #159 "Typescript sugestion"
In the onPressItem, not return just a string, but return value of string as type.

Example:
[code]

[2021-03-10 16:08] mikykonst opened #161 "How can I show text only in action buttons"
I want to show the text only without icons in action buttons. How can I do it?

[2021-03-10 16:26] mikykonst commented on #161
I found render prop as a workaround

[2021-04-14 06:30] CryceTruly opened #165 "Expose TestID for the main Touchable"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-floating-action@1.21.0` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2021-04-14 06:31] #165 closed

[2021-04-14 06:31] CryceTruly opened #166 "Expose TestID for the main Touchable"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-floating-action@1.21.0` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2021-05-05 14:47] EstopaceMA commented on #73
hello, how's the progress in here? , I just need as well the button itself

[2021-05-07 17:49] pouyarezvani commented on #36
Looks like its a dead npm package, any update on the size of the individual floating icons?

[2021-06-03 11:09] KawtharE commented on #148
I am facing the same issue here :/

Even thought i have set icons url like below:

`const actions = [
    {
        text: 'Reschedule',
        tintColor: 'red',
        color: Color.petite_orchid,
        icon: require('../../assets/images/edit_calendar_icon.png'),
        name: 'bt_reschedule',
        position: 3,
        textColor: Color.petite_orchid,
    },
    {
        text: 'Refuse reques

[2021-06-04 07:52] KawtharE commented on #148
@santomegonzalo can you please give me some help here, i have to deploy the app to the store, but i am still facing this issue :/

[2021-07-11 13:55] misaelriojasftf commented on #148
hi guys! this issue was also being faced by me so I made a PR [misaelriojasftf:issue/#148/missing-tint-color-prop](https://github.com/santomegonzalo/react-native-floating-action/pull/175) 🚀

[2021-07-11 15:34] misaelriojasftf opened #176 "Allow using Icons instead of uri or images"

[2021-07-29 15:31] Powersource opened #179 "Type for floatingIcon is overly restrictive"
Here the type is limited to `JSX.Element | undefined`
https://github.com/santomegonzalo/react-native-floating-action/blob/b6264ba61864fd5c666dff25b290adc089dc3377/index.d.ts#L45

but the proptypes says that it can be any
https://github.com/santomegonzalo/react-native-floating-action/blob/b6264ba61864fd5c666dff25b290adc089dc3377/src/FloatingAction.js#L588

and the react native docs lets `source` be

[2021-08-15 18:19] #147 closed

[2021-08-20 18:24] andresledo opened #183 "Change color on click main button and animation"
Any way to change the color when you press the main button, and also to disable the icon spin animation?

[2021-08-21 17:12] amitk188 commented on #133
nice one, man.

[2021-09-01 13:26] bearkfear commented on #121
Test ID PLEASE!

[2021-09-16 15:57] paulsjohnson91 opened #188 "New Release"
Any chance we can get a new release? The latest npm release was from 3 years ago and is missing a lot of fixes.

[2021-10-05 20:26] Ti-tanium opened #191 "Customized floating icon cannot spin"
Steps to reproduce:
1. set the `floatingIcon` as an image
2. click the floating button, the icon is not spinning.  set `animated={false} ` can make the icon spin again, just no animation is applied.
[code]

[2021-10-27 12:44] alexprigi opened #192 "distanceToEdge is not working with object"
Hi,

I wanted to give more space from my bottombar of the and floating button, but I found out, that distanceToEdge is not working if it's an object like { vertical: 20, horizontal: 20 } since the component is expecting a number

[2021-10-28 08:02] #192 closed, assigned to nobody

[2021-11-03 14:59] MattLaszcz commented on #133
Should it still be wrapped in the container tho? I took it out of <View> but I can not see the action button on the screen now so How would i go about styling it?

[2021-11-03 15:16] amitk188 commented on #133
@MattLaszcz , you can't use a View/SafeAreaView here, though you can wrap it inside a Fragment component and it should work:
<>
...
</>

[2021-11-03 20:15] #159 closed

[2021-11-08 20:10] MattLaszcz commented on #133
Thanks I was able to get this to work but wrapping in <Touchable> with a width and a height!

[2021-11-30 03:47] Akashdeep312 opened #193 "Floating action button is not clickable on android"
hi i'm using following version of package and it's working fine on ios, i'm able to click and open other action buttons but the main FAB is not clickable on android  adding sample code bellow

[code]

code i'm using

[code]

[2021-12-08 14:02] pepe-dunamu commented on #193
yes... i've been struggling with the same problem.
if you solve this, please share me

[2021-12-19 13:47] deCodeIt commented on #193
The only solution is to move FAB into the root view. The thing with touchables which are positioned absolutely is that the only touchable part will be that which is within the touchable's parent bounds.

[2022-01-13 15:18] emil-malmgaard-rasmussen opened #194 "Prevent FloatingAction from closing, onPressItem"
Is it possible to prevent the FloatingAction to close it self when "onPressItem" is being called?

Some prevent.default function?

Edit: I can see that the the close function is still being called, even without a "onPressItem={}", is it possible to prevent this behavior? We got a case where we would like the actions to keep being displayed...

Best regards
Emil

[2022-03-20 09:58] #105 closed

[2022-03-28 11:03] tiamed opened #200 "Feature Request: long press"
Support long press event

[2022-05-19 10:01] #194 closed, assigned to nobody

[2022-05-19 10:01] emil-malmgaard-rasmussen commented on #194
Closing issue - found a better solution than react-native-floating-action

[2022-06-02 13:44] vietnux commented on #125
how to fix?

[2022-06-08 04:40] tiamed opened #208 "Feature Request: accessibility support"
Current behavior: Talkback cannot recognize the floating action button.

Expected behavior: Support accessibility label so that talkback can recognize the button.

[2022-06-10 12:50] rockingrohit9639 opened #209 "React Native Floating Action does not working when placed in ScrollView"
Hey there,
I am Rohit. I am a beginner in React Native. Today, I was adding `React Native Floating Action` inside the ScrollView but it was not showing on the screen. I almost spent 2-3 hours figuring it out.
Please add a warning or something in the documentation about it. If it was written there that it will not work inside ScrollView then I would have saved my 2-3 hours.
Thank you.

[2022-06-12 03:42] rockingrohit9639 opened #210 "Add props for styling the overlay properties"
Hey there,
I have been working with an app in React Native and I am using your package `react-native-floating-action` and I have faced this issue that sometimes the floating action button is not shown on the screen or sometimes it is hidden behind some other component.
In this case, `zIndex` can be helpful but there is no way to pass styling props for the overlay component.
So, it will very much h

[2022-06-16 12:38] Saad9624 opened #211 "Custom Action"
Is there any way to customize action button

[2022-06-29 15:15] marlon-rt14 opened #212 "App crashed"
Steps leading to crash:
- Launched the app
- Tapped on "+ button"
- App crashed

Review device details:
- Device type: IPad
- OS version: iOS 15.5

[2022-07-05 06:21] banisetticn opened #213 "animateButton does not work in functional based component using useRef."
It does not open or close programatically. I use (floatBtnRef?.current as unknown as IRefProps).animateButton()

[2022-07-07 06:16] #213 closed, assigned to nobody

[2022-07-21 15:40] Bartosz-L commented on #124
color is for the main button itself, not the icon.

[2022-08-04 18:14] keyrunpay commented on #124
pass in iconColor="red" as a props @hern12

[2022-08-05 18:26] hern12 commented on #124
thank guys

[2022-08-15 08:39] JacquesLG opened #216 "distanceToEdge not working horizontally"
distanceToEdge is not working vertically.

[code]

[2022-08-15 09:04] JacquesLG commented on #216
Was an issue with Fast Refresh

[2022-08-15 09:04] #216 closed, assigned to nobody

[2022-10-06 05:46] bekroz opened #217 "onPressBackDrop is not working"
How can I change value to false when overlay is pressed?

This is my environment:
_______

System:
    OS: macOS 12.6
    CPU: (8) arm64 Apple M1
    Memory: 125.53 MB / 16.00 GB
    Shell: 5.8.1 - /bin/zsh
  Binaries:
    Node: 18.10.0 - /opt/homebrew/bin/node
    Yarn: 1.22.19 - ~/WORK/givento/node_modules/.bin/yarn
    npm: 8.19.2 - /opt/homebrew/bin/npm
    Watchman: 2022.10.03.00 - /opt/homeb

[2022-10-17 03:16] JohanGonzalez0512 commented on #183
have you solved it?

[2022-10-18 08:47] meerita opened #218 "iconColor is not working on icons for the main floating button"
Hi there,

I just tried to use the iconColor prop, to tint the color of the icons I use on the main buttons and it doesn't work.

`<FloatingAction
        actions={actions}
        onPressItem={name => {
          console.log(`selected button: ${name}`);
        }}
        color={darkMode ? Colors.dark.primary : Colors.light.primary}
        iconWidth={24}
        iconHeight={24}
        iconColor

[2022-10-18 08:49] meerita commented on #209
I solved this by wrapping the scrollview and the floating button
`<>
<Scrollview>...</Scrollview>
<Floatingbutton />
</>
`

[2022-10-24 12:41] fukemy commented on #35
hi, does this problem fixed? I have navigationbar + bottom navigation, so the action view does not cover all => UI seem not good

[2022-10-24 12:55] fukemy commented on #3
hi, please update example with flatlist plz

[2022-10-27 09:58] OHHAKO commented on #212
@marlon-rt14  what's your rn version?